<style>
@import url('https://fonts.googleapis.com/css?family=Gugi');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Judson');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
</style>


body {
  width: 960px;
  margin: 0 auto;
  font-family:'Judson', serif;
  font-size: 14px;
  background-color: #D3D3D3;
}


article {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}


header {
font-family:'Gugi', cursive;
font-size: 45px;
color: #e1d0d5;
text-align: center;
}


h2 {
  font-family:'Archivo Black', sans-serif;
}


nav {
font-family:'Judson', serif;
background-color: #e1d0d5;
font-size: 20px;
color: #000000;
text-align: center;
display: inline block;
padding-bottom: 2px;
padding-top: 2px;
}


footer {
  text-align: center;
  background-color: #e1d0d5;
}


a {
 background-color: red;
 color: white;
 padding: 0.5em 0.5em;
 text-decoration: none;
}

a:hover {
  background-color: green;
  cursor:pointer;
}

a:visited {
  background-color: purple;
}

a:active {
  background-color: orange;
}
